.label{
    display: flex;
    align-items: center;
    padding: 8px;
    height: 3rem;
    border-radius: 2rem;
    cursor: text;
    background: $color-bg-secondary;
    width: 100%;
    margin: 0 3rem;

    img{
        user-drag: none;
        -webkit-user-drag: none;
        margin-left: 0.5rem;
    }

    .searchbar {
        display: inline-flex;
        border: none !important;
        outline: none;
        user-select: none;
        background: none;
        font-size: 1rem;
        margin: 0 0.5rem;
        width: 100%;
    }

    .searchbar::placeholder {
        font-size: 16px;
        color: #999;
    }

    .searchbar:-webkit-autofill,
    .searchbar:-webkit-autofill:hover,
    .searchbar:-webkit-autofill:focus {
        background-color: black !important;
        -webkit-text-fill-color: black !important;
        font-size: 16px !important;
        -webkit-box-shadow: 0 0 0 1000px $color-bg-secondary inset !important;
    }
}
