.label{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 2rem;
    cursor: text;
}

img{
    user-drag: none;
    -webkit-user-drag: none;
}

.searchbar {
    border: none !important;
    outline: none;
    user-select: none;
}

.searchbar:-webkit-autofill {
    background-color: white !important;
    color: black !important;
    box-shadow: 0 0 0 1000px white inset !important;
}

.placeholder {
}
