@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');


@font-face {
    font-family: 'integral';
    font-style: normal;
    font-weight: 700;
    src: url('/public/assets/fonts/Fontspring-DEMO-integralcf-bold.otf');
}

@font-face {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: white;
}

main{
    max-width: 1240px;
    margin: 0 auto;
}

h1{
    font-family: 'integral', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}